.textos1{
    font-weight: bold !important;
}
.imagem{
    
    background-image: url('https://moewalls.com/pixel-art/the-legend-of-zelda-the-wind-waker-pixel-live-wallpaper/');
  background-repeat: no-repeat;
  background-size: cover;
    width: 100vh;
     min-height: 100vh;
      background-size: cover;
       background-position: center;

}
.text-decorater-none{
    text-decoration: none;
}
